* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

body,
input,
button,
textarea {
    font: 18px 'Poppins', sans-serif;
}

.next-content {
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    text-decoration: none;

    margin-top: 16px;
    font-size: 18px;
    background-color: #ED615C;
    border: 3px solid #ED615C;
    color: #f6f6f6;

    border-radius: 24px;

    padding: 12px 18px;

    transition: all 400ms;
}

.next-content:hover {
    border: 3px solid #ED615C;
    background-color: #fff;
    color: #ED615C;
}

.next-content:hover .next-content-icon {
    color: #ED615C;
}

@keyframes up{
    0%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(-4px)
    }
}

@keyframes leftright {
    0% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(-4px)
    }
}

.button-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
}
.button-navigation:hover {
    animation: up ease-out 0.3s 3;
}

.button-navigation.button-navigation-lateral:hover {
    animation: leftright ease-out 0.3s 3;
}